body{
    font: 62.5% "Trebuchet MS", sans-serif;
    margin: 50px;
    max-width: 480px;


}
img{
    max-width: 100%;
    margin:0;
    padding:0;


}
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}

#show_top{
/*visibility: hidden;*/
    list-style-type: none;

}
#show_crust{
    /*visibility: hidden;*/
    list-style-type: none;

}
#show_drink{
    list-style-type: none;
    
}
h2#title{
    text-align: center;

}
.ui-loader{
    visibility: hidden;

}

.btnCart{
    display: block;
    height:1.5em;
    width:100%;

}
/*_______
_____________________________



#nav{

    width:100%;
    text-align: center;

}
ul.nav li.nav{
    text-decoration: none;
    border: .01em, lightblue;
    background-color: red;
    list-style-type: none;
}
.subNav{
 visibility: hidden;

}